/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fonts */
@font-face {
  font-family: "Cabin";
  src: url("assets/fonts/Cabin/static/Cabin-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merrant";
  src: url("assets/fonts/merrant/Merrant-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Define CSS Variables */
:root {
  --background-color: #1c213e;
  --text-color: #ffffff;
  --shadow-color: #242a4b;
  --dimmed-text: #9098d8;
  --display-color: #2b335b;
  --text-grey: #a2a5bf;
}

/* Body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Merrant", sans-serif;
}

/** Sidebar **/
.wss_sidebar {
  min-height: auto;
}
.wss_sidebar .nav {
  gap: 25px;
}

.wss_nav-item .nav-link {
  color: var(--dimmed-text);
  text-decoration: none;
  font-family: "Merrant", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 0;
}
.wss_nav-item .nav-link:hover,
.wss_nav-item .nav-link.active {
  color: var(--text-color);
  filter: invert(6%) sepia(1%) saturate(0%) hue-rotate(270deg) brightness(164%)
    contrast(100%);
}
.wss_nav-item .nav-link span {
  font-family: "Merrant", sans-serif;
  font-size: 14px;
  width: auto;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* word-break: break-word; */
}
.wss_img-logo {
  margin-top: 40px;
  max-width: 100%;
}
/* Main Content Styling */
.wss_main-content {
  padding: 2rem 3rem;
  background: var(--shadow-color);
  border-radius: 54px 0px 0px 0px;
}
hr {
  background-color: var(--text-color);
  opacity: 0.1;
}
/** Search Bar **/
.wss_search-container {
  position: relative;
  /* margin-bottom: 2rem; */
}
.wss_search-input {
  padding: 15px 40px 15px 65px;
  width: 100%;
  background-color: var(--display-color);
  border: none;
  color: var(--text-color);
  border-radius: 4px;
  font-family: "Merrant", sans-serif;
  font-size: 14px;
}
.wss_search-input::placeholder {
  color: var(--text-color);
}
.sidebar-nav.hidden {
  display: none !important;
}

.wss_search-container::before {
  content: url("../assets/imgs/search-icon.svg");
  position: absolute;
  left: 15px;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
}
/** Welcome Section **/
.wss_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 50px;
  background: url("../assets/imgs/bg-hero.svg");
  background-size: 100% 100%;
  background-position: center;
  border-radius: 15px;
  background-repeat: no-repeat;
  margin-top: -2rem;
}
.wss_hero-left {
  flex: 2;
}
.wss_hero-left h2 {
  font-size: 23px;
  font-family: "Merrant", sans-serif;
  margin-bottom: 1rem;
  font-weight: 600;
}
.wss_hero-left p {
  font-size: 17px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 1rem;
  width: 12rem;
}
.wss_btn-browse {
  background-color: var(--shadow-color);
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: var(--text-color);
  font-family: "Merrant", sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.wss_hero-right {
  flex: 3;
  text-align: center;
  padding-top: 0px;
}
.wss_hero-img {
  max-width: 100%;
  height: auto;
  width: 90%;
  margin-top: 2rem;
}

/** Recommended Books **/
.wss_recommended-section {
  margin-top: -3rem;
}
.wss_recommended-section h3 {
  font-size: 18px;
  color: var(--text-grey);
  margin-bottom: 2rem;
}
.wss_recommended-section .card-text {
  margin-bottom: 0.5rem;
}
.wss_recommended-section .text-rating {
  font-size: 18px;
  color: var(--text-grey);
  margin-bottom: 1.5rem;
}
.wss_book-card .card {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  flex-direction: row;
  gap: 25px;
}
.wss_book-card .card-title {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
.wss_author {
  opacity: 0.6;
  font-size: 13px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 0.3rem;
  color: var(--text-color);
}
.wss_description {
  font-size: 13px;
  font-family: "Merrant", sans-serif;
  color: var(--text-color);
  max-width: 100%;
}

/** Tabs Section **/
.wss_tabs-section .nav-tabs {
  gap: 20px;
  border-bottom: none;
}
.wss_tabs-section .nav-link {
  color: var(--text-grey);
  border: none;
  font-size: 16px;
}
.wss_tabs-section .nav-link.active {
  color: var(--text-color);
  background: transparent;
  padding-left: 0;
}
.wss_nav-years .nav-link {
  color: var(--text-color);
  font-family: "Cabin", sans-serif;
  font-size: 13px;
  padding: 0.5rem 0.8rem;
}
.wss_nav-years .nav-link.active {
  background: transparent;
  border: none;
  color: var(--text-color);
  border-bottom: 3px solid #8392ff;
}
.nav-tabs-years {
  border-bottom: var(--bs-nav-tabs-border-width) solid #5d5b5b;
}
.wss_author-bottom {
  opacity: 0.6;
  font-size: 10px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 0rem;
  color: var(--text-color);
}
.wss_book-card .text-rating {
  font-size: 10px;
  color: var(--text-color);
  font-family: "Merrant", sans-serif;
}
/** Books Grid **/

.wss_book-card .wss_book-name {
  font-size: 12px;
  margin-top: 1rem;
  color: var(--text-color);
  font-family: "Cabin", sans-serif;
}

/** Profile Sidebar **/
.wss_profile-sidebar {
  padding: 0;
}
.wss_profile-name {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  margin-bottom: 0.5rem;
}

.wss_profile-email {
  font-size: 14px;
  color: var(--text-color);
  font-family: "Cabin", sans-serif;
}
.wss_top-icons img {
  cursor: pointer;
}
.img-second {
  width: 16px;
}
.wss_btn-toggle-dir {
  background: none;
  border: none;
}
.wss_top-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 1rem;
  margin-right: 1rem;
}
.wss_reward-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wss_reward-points {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
}
/** Info Boxes and Help Section **/
.wss_info-box {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  gap: 20px;
}
.wss_help-section button {
  background-color: var(--shadow-color);
  padding: 10px 40px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  background: #9098d8;
  border-radius: 50px;
  width: max-content;
  font-size: 12px;
  font-family: "Merrant", sans-serif;
}
.wss_info-box strong {
  font-family: "Cabin", sans-serif;
  font-size: 13px;
  display: flex;
  gap: 10px;
}
.wss_info-box p {
  font-family: "Cabin", sans-serif;
  font-size: 13px;
  display: flex;
  gap: 10px;
  opacity: 0.4;
  margin-bottom: 0px;
}
.wss_info-box span {
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  font-style: italic;
}
.wss_info-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}
.wss_help-section {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background: #2b335b;
  margin: 0rem 1.5rem 1rem;
}
.wss_help-section .title {
  font-size: 19px;
  font-family: "Merrant", sans-serif;
  width: 6rem;
}
.wss_help-section .text-lorem {
  font-family: "Cabin", sans-serif;
  font-size: 10px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .wss_hero {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .wss_hero-right {
    margin-top: 1rem;
  }
  .wss_img-logo {
    margin-top: 40px;
    max-width: max-content;
    margin-left: -40px;
  }
}
@media (max-width: 600px) {
  .wss_img-logo {
    transform: rotate(0deg);
    margin-top: 40px;
    max-width: max-content;
    margin-left: -40px;
  }
}
